.bg-palettes-black{
    background-color:#1B211A;
}

.bg-palettes-dark-green{
    background-color: #628141;
}

.bg-palettes-light-green{
    background-color: #8BAE66;
}

.bg-palettes-beige{
    background-color: #EBD5AB;
}

.text-palettes-beige{
    color: #EBD5AB;
}

.text-palettes-black{
    color: #1B211A;
}